.container-fuid
  - if flash[:error]
    .alert.alert-warning
      %strong Warning!
      =flash[:error]
  .row
    .col-xs-3
      %h2="#{@poke.name} ##{@poke.id}"
    .col-xs-3
      = image_tag("pokemon_images/"+@pokemon_image, size: "66x66", alt: "pokemon-image-#{@poke.id}")
    .col-xs-6
      Search Pokémon:
      = form_tag({controller: "pokemon_search", action: "index"}, method: "get")
      = text_field(:pokemon, :name)
      = submit_tag "Catch it!"

  %h3="Type(s): #{@poke.type1} #{@poke.type2}"
  .row
    - @damage.each_slice(9) do |sub_damage|
      .col-xs-6.attack-info
        - sub_damage.each do |d|
          - damage_class = case d[:damage]
            - when "0.0" then "zero"
            - when "0.25" then "quarter"
            - when "0.5" then "half"
            - when "1.0" then "normal"
            - when "2.0" then "double"
            - when "4.0" then "quad"
            - else "unknown"
          .row
            .col-xs-6
              Attack type
              %strong=d[:attack]
            .col-xs-6
              ="generates"
              %strong{class: damage_class}=d[:damage]
              =" damage"
