.container-fuid
  - if flash[:error]
    .alert.alert-warning
      %strong Warning!
      =flash[:error]
  .row
    .col-xs-6
      .row
        %h3.pokemon-name="#{@poke.name} ##{@poke.id}"
      .row
        = image_tag(@pokemon_image, size: "66x66", alt: "pokemon-image-#{@poke.id}", class: "pokemon-image")
    .col-xs-6
      .row
        %span{class: "image", id: @poke.type1}
      .row
        %span{class: "image", id: @poke.type2}
  .row
    .col-xs-12.search-col.input-group
      = form_tag({controller: "pokemon_search", action: "search"}, method: "get")
      = autocomplete_field_tag 'pokemon[name]', '', autocomplete_pokemon_name_pokemon_search_index_path, class: "form-control search-input", placeholder: "Start typing..."
      .input-group-btn.search-input#pokemon_name_submit
        = content_tag :button, "Catch it!", type: "submit", class: "btn btn-default"
  - @damage.sort_by{|hsh|hsh[:damage]}.reverse.each do |d|
    - damage_class = case d[:damage]
      - when "0.00" then "alert-success alert-success-0"
      - when "0.25" then "alert-info alert-info-25"
      - when "0.50" then "alert-info alert-info-50"
      - when "1.00" then "alert-warning alert-warning-1"
      - when "2.00" then "alert-danger alert-danger-2"
      - when "4.00" then "alert-danger alert-danger-4"
      - else "alert-warning"
    .alert{class: damage_class, role: "alert"}
      %span{class: "image", id: d[:attack]}
      %span{class: "image #{damage_class}-multi"}
