.container-fuid#main-data
  - if flash[:error]
    .alert.alert-warning
      %strong Warning!
      =flash[:error]

  .row
    .col-xs-3
    .col-xs-5.search-col.input-group.pokemon-search
      = form_tag({controller: "pokemon_search", action: "search"}, method: "get")
      = text_field_tag 'name', nil, class: "form-control search-input", placeholder: "Start typing..."
      .input-group-btn.search-input#pokemon_name_submit
        = content_tag :button, "Catch it!", type: "submit", class: "btn btn-default"
  .row
    .col-xs-2
    .col-xs-8
      %ul.nav.nav-tabs
        %li.active
          %a{data: {toggle: "tab"}, href: "#tab_#{snake_case @poke.name}"}="#{@poke.name}"
        - @poke.mega_evolutions.each do |mega|
          %li
            %a{data: {toggle: "tab"}, href: "#tab_#{snake_case mega['mega_stone']}"}="#{mega['mega_stone']}"
        - @poke.variations.each do |variation|
          %li
            %a{data: {toggle: "tab"}, href: "#tab_#{snake_case variation['names']['en']}"}="#{variation['names']['en']}"
      .tab-content
        = render 'poke_info', tab_id: "tab_#{snake_case @poke.name}", active: "active", types: @poke.types, image_suffix: nil
        - @poke.mega_evolutions.each do |mega|
          - mega_suffix = mega['image_suffix'] ? "-#{mega['image_suffix']}" : "-mega"
          = render 'poke_info', tab_id: "tab_#{snake_case mega['mega_stone']}", active: "", types: mega['types'], image_suffix: mega_suffix
        - @poke.variations.each do |variation|
          - variation_suffix = variation['image_suffix'] ? "-#{variation['image_suffix']}" : nil
          = render 'poke_info', tab_id: "tab_#{snake_case variation['names']['en']}", active: "", types: variation['types'], image_suffix: variation_suffix


