!!!
%html
  %head
    %title="#{@poke.name} - Pokémon Types"
    = favicon_link_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    = yield
    %footer
      %small Pokémon is property of Nintendo. This is not an official Pokémon product, nor is this endorsed or sponsored by Nintendo in any way. Just needed to have this to defeat my friends :P
