!!!
%html
  %head
    %title="#{@poke.name} - Pokémon Types"
    = favicon_link_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
    / Global site tag (gtag.js) - Google Analytics
    %script{:async => "", :src => "https://www.googletagmanager.com/gtag/js?id=UA-212953040-15"}
    :javascript
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-212953040-15');

  %body
    = yield
    %footer
      %small Pokémon is property of Nintendo. This is not an official Pokémon product, nor is this endorsed or sponsored by Nintendo in any way. Just needed to have this to defeat my friends :P
